<div>
    <button class="collapsible-trigger" @onclick="ToggleCollapse" style="@HeaderStyle">
        @Header
    </button>
    <div class="collapsible-content @(Expanded ? "collapsible-active" : "collapsible-inactive")" style="max-height: @(AppliedMaxHeight)px;)">
        <div style="padding: 18px 0px">
            @Content
        </div>
    </div>
</div>

@code {   
    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public bool Expanded { get; set; }

    [Parameter]
    public int MaxHeight { get; set; } = 100;

    [Parameter]
    public string HeaderStyle { get; set; }

    public int AppliedMaxHeight { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AppliedMaxHeight = Expanded ? MaxHeight : 0;
    }

    protected void ToggleCollapse()
    {
        Expanded = !Expanded;
        AppliedMaxHeight = Expanded ? MaxHeight : 0;
    }
}
